body {
    text-align: center;
    background-color: black;
    color: whitesmoke;
}
ul, ol, li {
    text-align: left;
}
a {
    color: hotpink; 
}
a:hover {
    color: violet;
}
.paragraph {
    text-align: left;
} 